Repository anpleenko/spa-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext .js,.jsx,.ts,.tsx, prettier --write, imagemin-lint-staged, sort-package-json

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --ext .js,.jsx,.ts,.tsx", "prettier --write"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged"],
  "package.json": ["sort-package-json", "prettier --write"]
}

chore: add validate script
  .eslintignore
  .github/workflows/ci.yml
  package.json
  scripts/validate
  vite.config.ts
  yarn.lock
Due: eslint --fix --ext .js,.jsx,.ts,.tsx, prettier --write, sort-package-json

update eslint
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

update eslint-kit
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

update prettier
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

update node js version on build
  .github/workflows/ci.yml
Due: none

change skipLibCheck
  tsconfig.json
Due: none

feat: move to new hooks
  .git-hooks/commit-msg
  .git-hooks/pre-commit
  .husky/pre-commit
  .lintstagedrc.json
  .nano-staged.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: add files to tsconfig.json
  tsconfig.json
Due: none

chore: remove lint-staged
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: remove husky
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: add enableGlobalCache
  .yarnrc.yml
Due: none

feat: yarn 3 => yarn 4
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: update major packages
  .git-hooks/commit-msg
  jest.config.ts
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix --ext .js,.jsx,.ts,.tsx, prettier --write, sort-package-json

chore: update yarn
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: update vite
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: upgrade yarn from 4.9.2 to 4.12.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

feat: upgrade commitlint config
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: upgrade concurrently version
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update yarn version 4.14.1
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: update yarn version 4.15.0
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: update .yarn.yml file
  .yarnrc.yml
Due: none
